* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  color: white;
  padding: 4% 0% 0% 10%;
}
.container h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}
.container h1 img {
  width: 60px;
}
.container .btn img {
  width: 25px;
  margin-right: 8px;
}
.container .btn {
  display: flex;
  align-items: center;
  background: linear-gradient(#9418fd, #571094);
  color: white;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
}
.input_box {
  position: relative;
  width: 100%;
  color: #333;
  max-width: 500px;
  min-height: 150px;
  background: white;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
}
.input_box .img1 {
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
.btn_copy {
  background-color: #9418fd;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  position: absolute;
  bottom: 9px;
  right: 55px;
  cursor: pointer;
}
